In [2]:
import os
import numpy as np
import pandas as pd

In [8]:
# read rating
data_path = './data'
df_rating = pd.read_csv('./data/rating_cleaned.csv')

In [9]:
# show the duplicated
df_rating.duplicated(subset=['user_id'])

0          False
1          False
2          False
3           True
4           True
           ...
5498518     True
5498519     True
5498520     True
5498521     True
5498522    False
Length: 5498523, dtype: bool

In [10]:
# remove any user who has rated less than 5 anime in rating
e = df_rating['user_id'].value_counts()
df_rating2 = df_rating[df_rating['user_id'].isin(e[e>4].index)]

In [11]:
df_rating2['user_id'].value_counts()

42635    3266
51693    2508
57620    2423
59643    2314
7345     2192
         ...
1292        5
5490        5
22760       5
71840       5
66452       5
Name: user_id, Length: 60251, dtype: int64

In [12]:
## Save cleaned dataset
df_rating2.to_csv(os.path.join(data_path, 'rating_cleaned_5.csv'), index=False)

In [13]:
## Read data
data_path = './data'
df_rating = pd.read_csv(os.path.join(data_path, 'rating_cleaned_5.csv'))

In [14]:
# find duplicate user rate the same anime,yet different rating
df2 = df_rating[df_rating.duplicated(subset=['user_id','anime_id'], keep=False)]
df2

         user_id  anime_id  rating
3139424    42653      1575       8
3139425    42653      2001       8
3139436    42653     11757       8
3139439    42653     16498       8
3139441    42653     20507       7
3139443    42653     22319       8
3139446    42653     23283       8
3139466    42653      1575       6
3139468    42653      2001      10
3139487    42653     11757       5
3139496    42653     16498       8
3139500    42653     20507       9
3139505    42653     22319       6
3139506    42653     23283       9

In [15]:
# remove duplicate user rate the same anime,yet different rating
rows_to_remove = np.where(df_rating['user_id'] == 42653)[0]
df3 = df_rating.drop(rows_to_remove)
df3 = df3.reset_index(drop=True)
df3.duplicated(subset=['user_id','anime_id']).value_counts()

False    5478968
dtype: int64

In [17]:
## Save cleaned dataset
df3.to_csv(os.path.join(data_path, 'rating_cleaned_5.csv'), index=False)

In [19]:
df_rating

         user_id  anime_id  rating
0              3        20       8
1              3       154       6
2              3       170       9
3              3       199      10
4              3       225       9
...          ...       ...     ...
5478963    73515     13659       8
5478964    73515     14345       7
5478965    73515     16512       7
5478966    73515     17187       9
5478967    73515     22145      10

[5478968 rows x 3 columns]